/* Menú */

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {background:#FEFEFE;}

.menu_bar {
	display:none;
}

header {
	width: 100%;
}

header nav {
	background:#023859;
	z-index:1000;
	margin:auto;
	font-family: 'Roboto', sans-serif;
}

header nav ul {
	list-style:none;
	text-align: center;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#E6344A;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

/* Section */

.Caja-hover{
	opacity: 1;
	-webkit-transition: max-height 0s linear .3s,opacity .25s ease-in-out .1s;
	-moz-transition: max-height 0s linear .3s,opacity .25s ease-in-out .1s;
	-ms-transition: max-height 0s linear .3s,opacity .25s ease-in-out .1s;
	-o-transition: max-height 0s linear .3s,opacity .25s ease-in-out .1s;
	transition: max-height 0s linear .3s,opacity .25s ease-in-out .1s;
	overflow: hidden;
	height: 100%;
	padding: 30px;
	font-family: 'Roboto', sans-serif;
}

.Caja-hover:hover{
	-webkit-box-shadow: 0 1px 4px 0 #666;
	box-shadow: 0 1px 4px 0 #666;
	background: #A0C3FF;
	height: 100%;
	padding: 30px;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #E8EDF4;
}
a{
	text-decoration: none;
	color: black;
}

.caja1{
	float: left;
	width: 60%;
	margin: 1%;
}

#columna{
	float: right;
	width: 35%;
	margin: 1%;
	padding: 1%;
	background: #339DAA;
}